.service-wrapper {
    width: 30%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
}
.selected-service-wrapper {
    width: 30%;
    height: 100%;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    background: rgb(117,126,249);
    background: linear-gradient(90deg, rgba(117,126,249,1) 0%, rgba(106,116,255,1) 35%, rgba(89,100,255,1) 100%);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.service-icon-wrapper {
    width: 55px;
    height: 55px;
    padding: 15px;
    background-color: #F6F8FC;
    border-radius: 8px;
}
.service-more-icon {
    text-decoration: none;
    font-size: 150%;
    color: #B6BBD5;
}
.selected-service-more-icon {
    text-decoration: none;
    font-size: 150%;
    color: #fff;
}
.service-more-icon:hover {
    text-decoration: none;
    color: #B6BBD5;
}
.selected-service-more-icon:hover {
    text-decoration: none;
    color: #fff;
}
.service-title-wrapper {
    padding-top: 8px;
    padding-left: 3px;
}
.service-title {
    color: #26265F;
    font-size: 125%;
    font-weight: bold;
    opacity: 0.8;
}
.selected-service-title {
    color: #fff;
    font-size: 125%;
    font-weight: bold;
    opacity: 1;
}
.progress-bar-wrapper {
    width: 100%;
    margin-bottom: 5px;
}
.used-space-value, 
.capacity-value {
    color: #26265F;
    font-size: 100%;
    font-weight: 500;
    opacity: 0.7;
    margin: 0;
}
.selected-used-space-value, 
.selected-capacity-value {
    color: #fff;
    font-size: 100%;
    font-weight: 500;
    opacity: 1;
    margin: 1;
}
.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #F0F3FB;
    border-radius: 8px;
}
.selected-progress-bar {
    width: 100%;
    height: 8px;
    background-color: #fff;
    border-radius: 8px;
}
.progress-bar-juice {
    height: 100%;
    background-color: #6190F7;
    border-radius: 8px;
}
.selected-progress-bar-juice {
    height: 100%;
    background-color: #FBBC44;
    border-radius: 8px;
}
.progress-bar-values {
    padding-bottom: 5px;
}

