.service-wrapper {
    width: 30%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
}
.service-icon-wrapper {
    width: 55px;
    height: 55px;
    padding: 15px;
    background-color: #F6F8FC;
    border-radius: 8px;
}
.service-icon {
    font-size: 250%;
    color: #5964FF;
}
.service-more-icon {
    text-decoration: none;
    font-size: 150%;
    color: #B6BBD5;
}
.service-more-icon:hover {
    text-decoration: none;
    color: #B6BBD5;
}
.service-title-wrapper {
    padding-top: 8px;
    padding-left: 3px;
}
.service-title {
    color: #26265F;
    font-size: 125%;
    font-weight: bold;
    opacity: 0.8;
}
.progress-bar-wrapper {
    width: 100%;
    margin-bottom: 5px;
}
.used-space-value, 
.capacity-value {
    color: #26265F;
    font-size: 100%;
    font-weight: 500;
    opacity: 0.7;
    margin: 0;
}
.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #F0F3FB;
    border-radius: 8px;
}
.progress-bar-juice {
    width: 30%;
    height: 100%;
    background-color: #6190F7;
    border-radius: 8px;
}
.progress-bar-values {
    padding-bottom: 5px;
}

