.detail-item {
    margin-bottom: 15px;
}
.detail-info-title {
    color: #26265F;
    font-weight: 500;
    font-size: 100%;
    opacity: 0.8;
    margin: 0;
}
.details-files-count {
    color: #8A8FB6;
    font-size: 100%;
    font-weight: 500;
    margin-bottom: 8px;
}
.detail-value {
    color: #6670F5;
    font-size: 100%;
    font-weight: 500;
}
.detail-icon {
    width: 45px;
    height: 45px;
    padding: 12px;
    border-radius: 8px;
    /* background-color: #EFEFFD; */
    margin-right: 10px;
    /* color: #6A73FF; */
    font-size: 30px;
}