.search-input {
   background-color: #fff;
   border: none;
   border-end-end-radius: 8px;
    margin-left: -8px;
   width: 94%;
   font-size: 16px;
    font-weight: 500;
    color: #26265F;
}
.search-input::placeholder {
    color: #CDCBDA;
    font-size: 16px;
    letter-spacing: 1px;
}
.search-input:focus {
  outline: none;
}
.search-input-icon {
    border: none !important;
    background-color: #fff;
    color: #5A64FF;
    font-size: 20px;
}
