.navbarWrapper {
    height: 100%;
    width: 5%;
    background-color: #5964FF;
    align-items: center;
    padding-top: 12px;
    justify-content: space-between;
}
.brand {
   width: 40px;
   height: 40px;
   border-radius: 20px;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
}
.brand-icon {
    font-size: 22px;
    color: #5964FF;
}
.navbarItems {
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar-item-icon {
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    padding: 12px 18px;
    margin-bottom: 25px;
    width: 100%;
}
.navbar-item-icon:hover {
    text-decoration: none;
    background-color: #6A73FF;
    color: #ffffff;
}
.navbar-active-item-icon {
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    padding: 12px 18px;
    margin-bottom: 25px;
    width: 100%;
    background-color: #6A73FF;
    border-left-width: 4;
    border-color: #ffffff;
    border-left-style:  solid;
}
.navbar-block {
    height: 65%;
    align-items: center;
    justify-content: space-between;
}
.profile-block{
    padding-bottom: 15px;
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #ffffff;
    border-style:  solid;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 }
 .profile-image {
     width: 100%;
     height: 100%;
 }