.main-content-wrapper {
    height: 100%;
    width: 100%;
    background-color: #F6F8FC;
    align-items: center;
    padding: 15px;
    align-items: center;
    overflow: auto;
}
.searchbar,
.services-wrapper,
.folders-section,
.recent-folders-section
{
    width: 100%;
    padding: 15px;
}
.recent-folders-section {
    height: 100%;
}
.folders-section {
    margin-top: 12px;
}
.main-content-title {
    color: #26265F;
    font-size: 125%;
    font-weight: bold;
    opacity: 0.8;
}
.view-all-text {
    color: #6A73FF;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.recent-folders-section {
    margin-top: 12px;
    height: 100%;
}
.recent-folders-list-wrapper {
    height: 100%;
    margin-top: 12px;
    /* overflow: auto */
}
.recent-folders-list{
    margin: 0;
    height: 100%;
}
.table-header {
    color: #6B74A4;
    font-weight: bold;
    font-size: 100%;
    opacity: 0.8;
    margin: 0;
}
.recent-file-title {
    color: #26265F;
    font-weight: 500;
    font-size: 100%;
    opacity: 0.8;
    margin: 0;
}
.recent-file-info {
    color: #7E86AE;
    font-weight: 500;
    font-size: 100%;
    opacity: 0.8;
    margin: 0;
}
.recent-file-info-icon {
    color: #7E86AE;
    font-weight: 500;
    font-size: 150%;
    opacity: 0.8;
    margin: 0;
}
.recent-file-type-icon {
    width: 20px;
    height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.pdf-icon {
    background-color: #FF685F;
    color: #FFFDFD;
    font-size: 12px;
}
.txt-icon {
    background-color: #6394FE;
    color: #FFFDFD;
}
.zip-icon {
    background-color: #FBC12E;
    color: #FFFDFD;
}