.main-content-wrapper {
    height: 100%;
    width: 100%;
    background-color: #F6F8FC;
    align-items: center;
    padding: 15px;
    align-items: center;
}
.searchbar,
.services-wrapper,
.folders-section
{
    width: 100%;
    padding: 15px;
}
.folders-section {
    margin-top: 12px;
}
.folders-section-title {
    color: #26265F;
    font-size: 125%;
    font-weight: bold;
    opacity: 0.8;
}
.view-all-text {
    color: #6A73FF;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.folder {
    width: 30%;
    height: 150px;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
}
